A:link
{
	text-decoration: none;
}
A:hover
{
	border-bottom: 1px dotted gray;
}
.site-header, .site-footer, .entry, .sidebar .widget {
	background: rgba(125,125,125,0.2);
}

.site-header .title-area {
	display: none
}

.site-header .header-widget-area {
	float: left;
	width: 100%;
}
.widget-title
{
	text-align: center;
	font-size: 230%;
}
body {
background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
}

.site-footer {
	border-width: 0px;
}